{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if product.1.image %}
                    <img src="{{ product.1.image | media_filter }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">Текущая версия: {{ product.0.version }}</p>
                        <p class="card-text">{{ product.1.name }}</p>
                        <p class="card-text">{{ product.1.description|truncatewords:50 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if perms.catalog.unpublished or user == product.1.user %}
                                <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.1.slug %}"
                                   role="button">Посмотреть</a>
                                <a class="btn btn-secondary" href="{% url 'catalog:product_update' product.1.slug %}"
                                   role="button">Изменить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}